[Unit]
Description=EDI DevOps team portal
After=local-fs.target network-online.target

[Service]
Type=simple
User=root
Group=irisadm
SupplementaryGroups=irisdev
EnvironmentFile=/opt/devops/.env
ExecStart=/bin/sh /opt/devops/devops-portal.sh
KillMode=mixed
Restart=on-failure
RestartSec=15
SyslogIdentifier=DevOps
WorkingDirectory=/opt/devops
#TasksMax=200

[Install]
WantedBy=multi-user.target
