[Unit]
Description=EDI DevOps team portal
After=local-fs.target network-online.target

[Service]
Type=simple
User=root
Group=irisadm
SupplementaryGroups=irisdev
SyslogIdentifier=DevOps
WorkingDirectory=/opt/devops
EnvironmentFile=/opt/devops/.env
ExecStart=/bin/sh /opt/devops/devops-portal.sh
ExecStartPre=-/usr/bin/rm -rf /opt/devops/.output
ExecStopPost=/usr/bin/sleep 2
KillMode=control-group
Restart=on-failure
RestartSec=10
SendSIGKILL=no
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
