# edit and rename to .env for production use
AUTH_ORIGIN=https://hciedev.laheyhealth.org/devops/api/auth
NUXT_APP_BASE_URL=/devops
NUXT_BASE_URL=https://hciedev.laheyhealth.org
NUXT_JWT_ACCESS=30s
NUXT_JWT_REFRESH=10h
NUXT_JWT_PASSWORD=AllowMe2elaborateYIThinkURana$$!
